/*
.copyrights {
    height: 80px;
}

.container_footer {
    padding-top: 10px;
}

.copyrights-menu {
    margin-bottom: 10px;
    font-size: 13px;
    padding-right: 10px;
}

.copyrights-menu a {
    color: #949595;
}

.copyrights-menu a:hover,
.copyrights-menu a:focus {
    color: #949595;
	color: #E3E4E4;		
}

.copyrights-text {
    font-size: 13px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
*/