
/*********************PAGINA DE INICIO**********************************/
body {
   /* background: #323A46;
    background: -webkit-linear-gradient(right, #323A46, #323A46);
    background: -moz-linear-gradient(right, #323A46, #323A46);
    background: -o-linear-gradient(right, #323A46, #323A46);
    background: linear-gradient(to left, #323A46, #323A46); 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    
    background-color: gray;*/
    font-family: Arial;
  }
.container {
    width: 90%;
    margin: 0 auto;
    
}
header {   
    background: #4E94AE;
    border: 1px solid;
}
/*IMAGEN DE INICIO*/
.wallpaper {    
    width: 100%;
    height: 80%;
}

.imgHeader {
    width: 100%;
    height: 90%;
}
/*+++++++++++++++++++++++++++++++++++++++++*/
.menu {
    width: 100%;
    height: 55%;
    border: 1px solid;
}
.menu-uno a, .menu-dos a {
    outline: none;
    text-decoration: none;
    color: black;
    
}
.menu-uno a, .menu-dos a:hover {    
      color:#457EFC;
}

.menu-uno {
    height: 30%;
    width: 100%;	
   
}
.menu-uno-usuario{
    margin-top: 10px;
    float: left;    
    text-align: left;
    width: 40%;		
    font-size: 14px;  
    border: 1px solid;  			
}
.menu-uno-btn {   
    width: 35%;
    margin-top: 10px;		
    float: left;    
    text-align: right;
    margin-left: 175px;
   
}
.menu-uno-message {
    color: red;    
    margin-top: 10px;		
    float: left;    
    text-align: right;				
    
}
.menu-uno-link {
    margin-left: 10px;
}

.menu-dos {
    height: 25%;
    width: 100%;	
    
}

#btn-menu{
    display: none;    
}
header label {
    display: none;
    width: 30px;
    height: 30px; 
    border-right: 1px solid #fff;
}
header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}
.nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;   
}
.nav li {
    border-right: 1px solid #fff;
}
.nav li:hover{
    background: rgba(0, 0, 0, 0.3);
}
.nav li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

@media (max-width:768px) {

    .container {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    header {     
        background: #4E94AE;
        border: 1px solid;
    }

    header label {
        z-index: 1;
        position: absolute;
        display: block;
    }

    .nav {
        position: absolute;        
        background: #4E94AE ;
        width: 30%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .nav ul {        
        flex-direction: column;
    }

    .nav li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .nav {
        margin: 0;
    }
}








/*************************************************************************/




.aviso_message {
    color: red;
    text-align: center;
}

.text-danger {
    color: red;
    text-align: center;
}

.error_message {
    color: red;
    text-align: center;
}

/*----------ESTILO DE TITULOS DE REGISTRO PROFESIONALES*/
.encabezado{            
    margin-top: -1em;
    margin-bottom: 25px;          
}
.enc-titulo {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.enc-cuerpo {
    font-size: 12px;
    text-align: left;
}